<div class="form-group col-sm-offset-1">
  <%= form_for([current_vacation, @guest], :html => {class: "form-inline"}) do |f| %>
    <div class="input-group">
      <%= f.text_field :first_name, placeholder: "Full Name", class: "guest-input form-control input-sm" %>
    </div>
    <%= f.submit class: "btn btn-default btn-sm", value: "Add Guest" %>
  <% end %>
</div>
