<h1>Guests</h1>

<table>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <% if current_user.is_admin %>
      <td><%= link_to 'Remove Guest', [guest.vacation, guest], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_vacation_guest_path(params[:vacation_id]) %>
