<div class="login-container">
<%= form_for(@vacation) do |f| %>
  <div class="form-new-vacation">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, autofocus: "true", placeholder: "Name of Event", class: "form-control" %>
    <%= f.submit class: "btn btn-primary btn-lg btn-block", value: "Create New" %>
  </div>
<% end %>
</div>
