<div class="vacation-show-container col-md-12">
  <p id="notice"><%= notice %></p>
  <div class="col-md-7 left-side">
    <%= render "left_side" %>
  </div>
  <div class="col-md-5 right-side">
    <%= render "right_side" %>
  </div>
</div>
