<h1>Editing comment</h1>

<%= render 'form' %>

<%= link_to 'Show', [current_vacation, @comment.topic, @comment] %> |
<%= link_to 'Back', vacation_topic_comments_path(current_vacation, @comment.topic) %>
