<%= form_for(@user, {:url => "/users/#{@user.id}", :method => 'put'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form method="post">
    <input type="hidden" name="_method" value="put">
    <input name="email" placeholder="Email"><br>
    <input type="password" name="old_password" placeholder="Old Password"><br>
    <input type="password" name="password" placeholder="New Password"><br>
    <input type="submit">
  </form>
<% end %>
