<div class="meal-item thumbnail">
<p class="meal-time card-text"><%= "#{meal.day.strftime("%A")} #{meal.day.strftime("%b")} #{meal.day.day.ordinalize}"%></p>

<% if !meal.user_id && current_user.is_admin %>
    <%= render partial: 'meals/form', locals: {this_meal: meal}%>
<% else %>
  <p class="card-text"><%= meal.statement %></p>
<% end %>
</div>
