<div class="meal-item">
<p class="meal-time"><%= "#{meal.day.strftime("%A")} #{meal.day.strftime("%b")} #{meal.day.day.ordinalize}"%></p>

<% if !meal.user_id && current_user.is_admin %>
    <%= render partial: 'meals/form', locals: {this_vacation: meal.vacation, meal_id: meal.id}%>
<% else %>
  <p><%= meal.statement %></p>
<% end %>
</div>
