/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*ANYTHING FROM BOOTSTRAP YOU WISH TO OVERWRITE CAN BE DONE HERE*/
 .nav-li {
   position: relative;
   top: 10px;
 }

 h1, h2, h3, h4, h5, h6, a, p {
   font-family: Lato;
 }

 #main-title, #vacation-show-title {
   color: rgb(85, 172, 252);
 }

 .dropdown:hover .dropdown-menu {
display: block;
}

.navbar-left {
  position: relative;
  left: 20px;
}

.login-container, .password-container {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 330px;
}

.submit-btn {
  padding: 15px;
  max-width: 330px;
  margin-top: 3%;
}

.form-control {
  height: 50px;
}

.notation {
  padding-top: 10px;
  position: relative;
  left: 5px;
}

.vacation-item {
  height: 200px;
  border: 2px rgb(85, 172, 252) solid;
  margin: 10px;
}

.vacation-item:hover {
  background-color: rgb(85, 172, 252);
  border: 2px white solid;
}

.vacation-item:hover a{
  color: white;
}

.vacation-item a:hover {
  text-decoration: underline;
  background-color: rgb(85, 172, 252);
}

.start-new {
  position: fixed;
  left: 15%;
  border-radius: 50px;
  border: 2px rgb(85, 172, 252) solid;
}

.navbar {
  border-bottom: 2px rgb(85, 172, 252) solid;
}

.topic-tabs {
  padding-top: 15px;
}

.topic-tabs.nav-tabs > li > a {
  border-bottom: 1px rgb(85, 172, 252) solid;
}


.nav-tabs > li.active > a,
.nav-tabs > li:hover > a {
  color: white;
}

.vacation-option {
  background: rgba(105, 192, 255, .5);
  border: 1px rgba(85, 172, 252, .8) solid;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form-closed {
  background: rgba(105, 192, 255, .5);
  border: 1px rgba(85, 172, 252, .8) solid;
  padding-top: 24px;
  padding-bottom: 24px;
}

.vacation-location-container {
  margin-bottom: 20px;
}

.vacation-dates-container {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 700px;
}

.dates-submit {
  position: relative;
  left: 15px;
}


.meals-container {
  background: rgba(105, 192, 255, .5);
  border: 1px rgba(85, 172, 252, .8) solid;
}

.meals-sub-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meal-item {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 100px;
  border: 1px rgb(85, 172, 252) solid;
  justify-content: space-between;
  padding: 15px;
  background: rgb(85, 172, 252);
}

.meal-item > p {
  text-align: center;
}

.meal-item > .meal-time {
  margin-top: 10px;
}

.meal-submit {
  margin: auto;
}

.all-comments-container {
  border-left: 1px rgb(85, 172, 252) solid;
  border-right: 1px rgb(85, 172, 252) solid;
  border-bottom: 1px rgb(85, 172, 252) solid;
  padding: 10px;
  height: 500px;
  overflow: auto;
}

.vacation-show-container, .operations-container, .guest-attractions-container {
  padding-left: 0;
  padding-right: 0;
}

.guest-attractions-container {
  margin-top: 14px;
}

.attractions-container, .guests-container {
  background: rgba(105, 192, 255, .5);
  border: 1px rgba(85, 172, 252, .8) solid;
}
