<!DOCTYPE html>
<html>
  <head>
    <title>FamilyTime</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid col-md-4">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-li" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">jon<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href=''>hey</a></li>
                <li><a href=''>hey</a></li>
              </ul>
            </li>
          <li class="nav-li"><a href=''>hey</a></li>
        </ul>
      </div>
      <div class="container-fluid col-md-4">
        <h2 class="text-center">Family Time</h2>
      </div>
      <div class="container-fluid col-md-4"></div>
    </nav>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
